<% @page_title ="Nueva Alerta" %>

<%= link_to("<< Volver", {:action => 'index'}, :class => 'back-link') %>

<div class="alerta new">
  <h2>Añadir Alerta</h2>

  <%= form_for(:alerta, :html => {:id => "nueva_alerta"},:url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form_alertas", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Crear Alerta") %>
    </div>

  <% end %>
</div>
