<% if object && object.errors.size > 0 %>
  <div id="errorExplanation">
    <h2>Encontrados <%= pluralize(object.errors.size, "errore") %></h2>
    <p>Existen errores en los siguientes campos:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>